body {
    background-image: url("https://media3.giphy.com/media/XmiTYLQ5qXTqM/giphy.gif?cid=ecf05e47afpp2alkfxy523908rrebesp0klfv3gaoniqfilp&rid=giphy.gif&ct=g");
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    height: 100vh;

}

h1 {
    color: red;
    text-shadow: 0 0 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: red;
    text-shadow: 0 0 5px black;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

p {
    font-size: 20px;
    font-weight: bolder;
}
.contain {
    background: blanchedalmond;
    border: 4px solid black;
    border-radius: 10px;
}
